<div class="quotes__header">
    <div class="quotes__header">
        <div class="quotes__title">Notifications</div>
        <div class="quotes__buttons">
            <button class="btn btn-primary" id="new-quote" (click)="getNewQuote()">
                New quote
            </button>
        </div>
    </div>
    <div *ngIf="loading; else content">
        <h1 id="loading">loading...</h1>
    </div>
    <ng-template #content>
        <app-quote-content [author]="quote.author" [quote]="quote.quote" [tweetURL]="tweetURL" [getNewQuote]="getNewQuote"></app-quote-content>
    </ng-template>

</div>
