<div class="notifications">
    <div class="notifications__header">
        <div class="left__part">
            <mat-tab-group>
                <mat-tab label="Зарубежные словечки"> <app-quotes></app-quotes></mat-tab>
                <mat-tab label="Другие зарубежные словечки"><app-quotes-rus></app-quotes-rus></mat-tab>
                <mat-tab label="Не понятно что"><app-drag-drop></app-drag-drop></mat-tab>
                <mat-tab label="Тоже что-то"> Content 3 </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
