<div class="profile-container">
    <div class="profile">
        <div class="profile-info">
            <div class="profile-settings">
                <div class="profile-settings__avatar">
                    <img src="{{avatarURL}}" alt="user" class="user-avatar">
                </div>
                <div class="profile-settings__controller">
                    <button (click)="isAvatarModal = true" mat-raised-button>Выбрать другую аватарку</button>
                </div>
                <div *ngIf="isAvatarModal" class="avatars-modal">
                    <div *ngFor="let avatar of avatars">
                        <a (click)="changeAvatar(avatar)">
                            <img class="avatar-img" src="{{avatar}}" alt="avatar-icon">
                        </a>
                    </div>
                </div>
            </div>
            <div class="profile-info-name">
                <h2>Имя: {{ serv.username }}</h2>
                <a class="edit-button"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon></a>
            </div>
            <p class="profile-info-status">Ваш статус: Лентяй</p>
            <div class="profile-progress">
                <p>Прогресс выполненных задач: </p>
                <mat-progress-bar mode="determinate" color="primary" value="40"></mat-progress-bar>
            </div>
        </div>
    </div>
    <div class="profile-dashboard">
        <mat-tab-group>
            <mat-tab label="Важные"> Content 1 </mat-tab>
            <mat-tab label="Можно оставить"> Content 2 </mat-tab>
            <mat-tab label="Сделано"> Content 3 </mat-tab>
          </mat-tab-group>
    </div>
</div>