

#quote-box {
    padding: 2em;
    background-color: white;
    margin: 20%;
    border-radius: 10px;
    color: black;


}

    .btn-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

      
    }
@media only screen and (max-width: 480px) {
    #quote-box {
        margin: 0;
        overflow-y: auto;
    }
}