@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat:wght@600&display=swap");
.sidenav-container {
  height: 100%;
  font-family: "Amatic SC", cursive;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 99;
}

.rustam {
  position: absolute;
  width: 320px;
  height: 400px;
  right: 5px;
  bottom: 0;
}
