.agenda__outlayer {
  display: flex;
  justify-content: space-between;
}
.agenda__hide-container {
  display: flex;
  padding-right: 20px;
}
.agenda__date-info-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    border: none;
    // background-color: white;
    height: 50%;
    border-radius: 150%;
  }

  .agenda__right-btn:hover,
  .agenda__gotoday:hover,
  .agenda__left-btn:hover,
  .agenda__task-settings:hover {
    cursor: pointer;
    //background-color: rgb(243, 243, 243);
  }
}
.agenda__field {
  //background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.agenda__note {
  text-align: center;
}
