<div class="about__container">
    <div class="title">Типо о нас</div>
    <div class="title__about">Если коротко, то мы просто рады что выжили! Конечно, мы не мировые топы типа <div class="top__title">te1epuz & bonus156</div>
    </div>
    <div class="about__text">Но, БОНУСОМ расскажем вам о себе как о ТЕЛЕПУЗАХ</div>
    <div class="guys">
        <div class="block">
            <div class="desc">Зис ис Амин, и он вечно на лайте. Потому что уже 4 года учится в IT институте и считает что он самый продвинутый 👇</div>
            <img src="../../../../assets/amin.png" alt="amin-photo" class="photo">

            <div class="mentor">
                👈 А это самая главная личность - ментор. Он типо всех контролит и заставил нас писать эту приложуху на Angular </div>
        </div>
        <div class="block">
            <img src="../../../../assets/kris.png" alt="kris-photo" class="photo2">
            <div class="desc">👆 Это единственная девочка в команде. И ей лучше всех. Ментор сказал, что она онли для красоты! А красота как известно - спасет Мир!</div>
        </div>
        <div class="block">
            <div class="desc">Знакомьтесь Артур!🧝‍♀️ Самый загадочный парень среди нас. По жизни он то ли что-то строит, то ли проектирует. Еще до конца не разобрались. Но, главное он всегда использует доисторические смайлы :D.</div>
            <img src="../../../../assets/artur.png" alt="artur-photo" class="photo1">

        </div>
    </div>

</div>
