@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Maven+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat:wght@600&display=swap");

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: "Caveat", cursive;
  text-align: center;
}
.title {
  font-size: 35px;
}
.photo {
  width: 320px;
  height: 320px;
}
.photo1 {
  width: 320px;
  height: 320px;
}
.photo2 {
  width: 234px;
  height: 292px;
}
.guys {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.block {
  display: flex;
  flex-direction: column;
}

.title__about {
  font-size: 27px;
}

.top__title {
  color: red;
}

.about__text {
  font-size: 30px;
  font-family: "Amatic SC", cursive;
}

.desc {
  max-width: 200px;
  background-color: darkgrey;
  border-radius: 20px;
}

.mentor {
  width: 200px;
  background-color: rgb(241, 84, 84);
  border-radius: 20px;
  margin-top: 5px;
}
