<div class="mentiones">
  <div class="mentiones__wrapper">
    <div class="mentiones__outlayer">
      <h2 class="mentiones__title">Mantions</h2>
      <div class="mentiones__hide-container">
        <img src="https://n-e-n.ru/images/2018-06-13/5b2118c3c635a_1040x720.png.webp" alt="lazy" class="filler">
        <h2 class="mentiones__advise">Time to chill...</h2>
        <h3 class="mentiones__advise">You can play some shit</h3>
        <div class="mentiones__entertain">
          <button class="entertain__game">Lazy 1</button>
          <button class="entertain__game">Lazy 2</button>
          <button class="entertain__game">Lazy 3</button>
        </div>
      </div>
    </div>
  </div>
</div>

