#quote-box {
    padding: 2em;
    background-color: white;
    margin: 20%;
    border-radius: 10px;
    color: black;

    #text {
        font-family: "Amiri", serif;
    }

    #author {
        font-family: "Neucha", cursive;
        font-size: 2.5em;
    }

    .btn-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

    }
}

@media only screen and (max-width: 480px) {
    #quote-box {
        margin: 0;
        overflow-y: auto;
    }
}