.notification__wrapper {
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 153;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(66, 173, 195, 0.5)
}
.notification__body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia;
  flex-direction: column;
}
.notification__text {
  font-size: 50px;
  font-weight: normal;
  text-shadow: -1px -1px #FFF,
               -2px -2px #FFF,
               -1px 1px #FFF,
               -2px 2px #FFF,
               1px 1px #FFF,
               2px 2px #FFF,
               1px -1px #FFF,
               2px -2px #FFF,
               -3px -3px 2px #BBB,
               -3px 3px 2px #BBB,
               3px 3px 2px #BBB,
               3px -3px 2px #BBB;
  color: steelblue;
  transition: all 1s;
}
.notification__text:hover {
  color: yellowgreen;
}
.notification__ok {
  background-color: lightblue;
  border-color: blue;
  font-family: "Amatic SC", cursive;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.notification__ok:hover {
  background-color: white;
}
