@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat:wght@600&display=swap");
.header-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Amatic SC", cursive;
}
