<div class="calendar">
  <div class="calendar__wrapper">
    <div class="calendar__outlayer">
      <h2 class="calendar__title">Calendar</h2>
      <div class="calendar__hide-container" (click)="this.hidder($event)">
        <svg class="calendar__close" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20px">
          <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
        </svg>
      </div>
    </div>
    <div class="calendar__body">
      <div class="calendar__date-container">
        <div class="calendar__date-info-row">
          <div class="calendar__selected-date">
            <mat-form-field appearance="fill">
              <input matInput [matDatepicker]="picker" value = {{now}} placeholder= {{now}}>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <button class="calendar__left-btn"
          (click)="this.previousDay()"
          ><</button>
          <button class="calendar__left-btn"
          (click)="this.nextDay()"
          >></button>
          <button class="calendar__gotoday">Today</button>
          <button class="calendar__task-settings">...</button>
        </div>
      </div>
    </div>
    <div class="calendar__field">
      <p class="calendar__timeArr" *ngFor="let item of Timepicker()">{{item}}
        <button class="halfday">1st half</button>
        <button class="halfday">2nd half</button>
      </p>
    </div>
  </div>
</div>

