@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.test {
  display: flex;
  justify-content: space-around;
}
.app-container {
  display: flex;
  height: 90%;
  width: 100%;
}

