@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat:wght@600&display=swap");

.home__page {
}

.content__block {
  padding-top: 15px;
}

.tasks__content {
  display: flex;
  justify-content: space-between;
}

.overdue__pic {
  width: 20%;
}

.element--hover {
  cursor: pointer;
  transition: box-shadow 600ms cubic-bezier(.33, .11, .02, .99),
    transform 600ms cubic-bezier(.33, .11, .02, .99);
  margin-left: 15px;
}

.element--hover:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, .1),
    0 1px 6px rgba(0, 0, 0, .05),
    0 8px 8px rgba(0, 0, 0, .1),
    0 16px 16px rgba(0, 0, 0, .1),
    8px 32px 32px rgba(0, 0, 0, .15),
    8px 64px 64px rgba(0, 0, 0, .15);

  transform: scale(1.05) translateY(-0.5rem);
}

.element--hover:active {
  box-shadow: 0 4px 4px rgba(0, 0, 0, .1),
    0 1px 6px rgba(0, 0, 0, .05),
    0 8px 8px rgba(0, 0, 0, .1),
    0 16px 16px rgba(0, 0, 0, .1),
    8px 16px 16px rgba(0, 0, 0, .15),
    8px 32px 32px rgba(0, 0, 0, .15);
}
.edit,
.done {
  border: none;
  margin-right: 5px;
}
.edit:hover,
.done:hover {
  cursor: pointer;
}

.overdue__title {
  margin: 0;
  padding: 0;
}

.mat-button {
  background-color: lightblue;
  border-color: blue;
  padding: 10px;
  font-family: "Amatic SC", cursive;
  font-size: 20px;
  border-radius: 10px;
  margin-left: 40%;
}
