@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat:wght@600&display=swap");
header {
  padding: 5px;
  background-image: url(../../../../assets/background.jpg);
  height: 50px;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
.logo {
  cursor: pointer;
  font-size: 22px;
  font-family: "Amatic SC", cursive;
}
.header__user {
  font-family: "Amatic SC", cursive;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 200px;
}

.search-input {
  width: 300px;
  padding: 5px 10px;
  border: none;
  font-family: "Amatic SC", cursive;
}
.header__settings,
.header__news {
  margin-right: 10px;
  cursor: pointer;
}
.header__tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user__avatar {
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
  font-style: 300px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}

.login-button {
  transition: all .3s;
}
.login-button:hover {
  cursor: pointer;
  color: lightblue;
}