<header>
    <div class="header-container">
        <h1 class="logo">RS-Clone</h1>
        <input class="search-input" type="text" placeholder="Search task">
        <div class="header__tools">

            <a class="header__settings">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
            </a>
            <a class="header__news">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="campaign"></mat-icon>
            </a>
            <div class="user__avatar">MS</div>
        </div>
    </div>
</header>
