header {
    padding: 5px;
    background-color: #2564cf;
    height: 50px;
    color: white;
}
.logo {
    cursor: pointer;
    font-size: 22px;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-input {
    width: 300px;
    padding: 5px 10px;
    border: none;
}
.header__settings, .header__news {
    margin-right: 10px;
    cursor: pointer;
}
.header__tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user__avatar {
    cursor: pointer;
    padding: 5px;
    font-size: 16px;
    font-style: 300px;
    border: 1px solid white;
    border-radius: 50%;
}